# ----------------------
# VS Code 설정 파일
# ----------------------
.vscode/
.venv/

# ----------------------
# Pytest 캐시
# ----------------------
.pytest_cache/

# ----------------------
# Python 캐시 (안전하게 같이)
# ----------------------
__pycache__/
*.pyc

# ----------------------
# 특정 파일만 무시
# ----------------------
utils/constants.py
utils/logs/
utils/screenshots/